section.main .about h3{
  margin: 0;
  padding: 30px;
}

.about header{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.important{
  font-weight: bold;
}

@media (width <= 1366px){

  section.main .about h3{
    padding: 15px 30px;
  }
}
@media (width <= 460px){
  .about header{
    margin-top: 10px;;
  }
}

