/* MAIN STYLES */
section.main{
  color: #222
}
section.main h3{
  font-size: var(--main-header-font-size);
  padding: 20px 30px;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-top: 30px;
}

section.main p{
  font-size: var(--main-paragraph-font-size);
  padding: 0 30px;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 150%;
  margin-top: 30px;
}


/* ABOUT SECTION */

section.main .about h3{
  margin: 0;
  padding: 30px;
}

.about header{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-top: 30px;
}



.about .image img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid darkgoldenrod;
  margin-left: 50px;
}



/* CONTACT SECTION */
.contact{
  position: relative;
  /* overflow: hidden; */
}
.contact ul{
  list-style: none;
  margin: 0 30px;
}
.contact li {
  padding: 10px;
  display: flex;
  min-height: 50px;
}

.contact li i{
  font-size: 1.2rem;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact li span {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
}

.contact li span:hover {
  text-decoration: underline;
}

.contact li button{
  position: relative;
  padding: 5px 15px;
  font-size: 1.1rem;
  background-color: var(--font-color);
  color: white;
  border-radius: 5px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.contact li button::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,0.1);
  transition: 300ms ease-in-out;
  transform: translateX(-100%);
}

.contact li button:hover::before{
  transform: translateX(0);
}

.contact .copied{
  position: absolute;
  font-size: 20px;
  left: 0;
  transform: translateX(-100%);
}

.contact .copied.animate{
  animation: copy 3s ease-in-out;
}

@keyframes copy {
  0%{
    left: 0;
  }

  40%{
    left: 50%;
    transform: translateX(-50%);
  }

  60%{
    left: 50%;
    transform: translateX(-50%);
  }

  100%{
    left: 100%;
    transform: translateX(100%);
  }
  
}