*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --background-color: #42b883;
  --font-color: #35496e;
  --header-font-size: 2.5rem;
  --navigation-font-size: 1.4rem;
  --main-header-font-size: 1.6rem;
  --main-paragraph-font-size: 1.2rem;

}

body{
  background-color: var(--background-color);
  font-family: "Roboto", "arial", sans-serif
}